In [32]:
import numpy as np
import pandas as pd
import math
from word2number import w2n
from sklearn.linear_model import LinearRegression

In [71]:
# Load the dataset from a CSV file into a pandas DataFrame
data = pd.read_csv("hiring.csv")
# Display the first 10 rows of the dataset to understand its structure
data.head(10)

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000
8        one                    1.0                           4      49159
9        six                    3.0                           7      53556

In [72]:
# Convert the 'experience' column from words (e.g. "two") to numeric values (e.g. 2)
# Use 'word_to_num' function, but only apply it if the value is not null
data['experience'] = data['experience'].apply(lambda x: w2n.word_to_num(str(x)) if pd.notnull(x) else None)

In [73]:
# Calculate the median (middle value) of the 'experience' column and round it down to the nearest integer
median_of_exp = math.floor(data['experience'].median())

# Calculate the median of the 'test_score(out of 10)' column and round it down as well
median_of_test_scr = math.floor(data['test_score(out of 10)'].median())

In [74]:
# Print the calculated medians to check the values
print(median_of_exp)
print(median_of_test_scr)

4
6

In [75]:
# Fill any missing (NaN) values in 'experience' with the median experience value
data['experience'] = data['experience'].fillna(median_of_exp)

# Fill missing values in 'test_score(out of 10)' with the median test score value
data['test_score(out of 10)'] = data['test_score(out of 10)'].fillna(median_of_test_scr)

In [76]:
# Check the updated first 10 rows after filling missing data
data.head(10)

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0         4.0                    8.0                           9      50000
1         4.0                    8.0                           6      45000
2         5.0                    6.0                           7      60000
3         2.0                   10.0                          10      65000
4         7.0                    9.0                           6      70000
5         3.0                    7.0                          10      62000
6        10.0                    6.0                           7      72000
7        11.0                    7.0                           8      80000
8         1.0                    1.0                           4      49159
9         6.0                    3.0                           7      53556

In [78]:
# Create a Linear Regression model object
reg = LinearRegression()

# Train (fit) the model using 'experience', 'test_score(out of 10)', and 'interview_score(out of 10)'
# as input features to predict 'salary($)' as the target variable
reg.fit(data[['experience', 'test_score(out of 10)', 'interview_score(out of 10)']], data['salary($)'])

LinearRegression()

In [79]:
# Create a new DataFrame with new candidate data to predict their salaries
new_data = pd.DataFrame([
    [3, 7.0, 8],  # Candidate with 3 years experience, test score 7, interview score 8
    [6, 9.0, 6],  # Candidate with 6 years experience, test score 9, interview score 6
    [2, 5.0, 7],  # Candidate with 2 years experience, test score 5, interview score 7
    [10, 8.0, 9], # Candidate with 10 years experience, test score 8, interview score 9
    [1, 4.0, 5]   # Candidate with 1 years experience, test score 4, interview score 5
], columns=['experience', 'test_score(out of 10)', 'interview_score(out of 10)'])

In [80]:
# Use the trained model to predict salaries for the new candidates
predictions = reg.predict(new_data)

# Print the predicted salaries
print(predictions)

[59923.2776179  61837.68240936 60144.34531228 61565.94076125
 60859.64024035]